{% load static %}
<footer class="bg-footer py-5 d-none d-md-block">
    <div class="container">
       
       <div class="row text-white mt-5">
          <div class="col-md-4 col-12">
             <div><img src="{% static 'storeapp/assets/img/fav.png' %}" alt="" class="img-fluid footer-logo"></div>
          </div>
          <div class="col-md-2 col-6">
             <h6 class="text-uppercase mb-4 fw-bold">Veggie Cart</h6>
             <ul class="list-unstyled d-grid gap-2 text-decoration-none">
                <li><a class="text-decoration-none text-white-50" href="about.html">About us</a></li>
                <li><a class="text-decoration-none text-white-50" href="jobs.html">Jobs</a></li>
                <li><a class="text-decoration-none text-white-50" href="contact.html">Contact Us</a></li>
                <li><a class="text-decoration-none text-white-50" href="cupons.html">Cupons</a></li>
             </ul>
          </div>
          <div class="col-md-2 col-6">
             <h6 class="text-uppercase mb-4 fw-bold">My Profile</h6>
             <ul class="list-unstyled d-grid gap-2">
                <li><a class="text-decoration-none text-white-50" href="profile.html">Orders List</a></li>
                <li><a class="text-decoration-none text-white-50" href="profile.html">Addresses</a></li>
                <li><a class="text-decoration-none text-white-50" href="profile.html">Manage Payments</a></li>
                <li><a class="text-decoration-none text-white-50" href="profile.html">Eatsle Cash</a></li>
                <li><a class="text-decoration-none text-white-50" href="profile.html">Support / Help</a></li>
             </ul>
          </div>
          <div class="col-md-2 col-6">
             <h6 class="text-uppercase mb-4 fw-bold">Shop Pages</h6>
             <ul class="list-unstyled d-grid gap-2">
                <li><a class="text-decoration-none text-white-50" href="search.html">Search</a></li>
                <li><a class="text-decoration-none text-white-50" href="#">Listing</a></li>
                <li><a class="text-decoration-none text-white-50" href="listing-detail.html">Listing Detail</a></li>
                <li><a class="text-decoration-none text-white-50" href="product-detail.html">Product Detail</a></li>
                <li><a class="text-decoration-none text-white-50" href="cart.html">Cart / Checkout</a></li>
                <li><a class="text-decoration-none text-white-50" href="success-order.html">Success Order</a></li>
             </ul>
          </div>
          <div class="col-md-2 col-6">
             <h6 class="text-uppercase mb-4 fw-bold">get in touch</h6>
             <ul class="list-unstyled d-grid gap-2">
                <li><a class="text-decoration-none text-white-50" href="#">Email</a></li>
                <li><a class="text-decoration-none text-white-50" href="#">Twitter</a></li>
                <li><a class="text-decoration-none text-white-50" href="#">Facebook</a></li>
                <li><a class="text-decoration-none text-white-50" href="#">Instagram</a></li>
                <li><a class="text-decoration-none text-white-50" href="#">Linkedin</a></li>
             </ul>
          </div>
       </div>
    </div>
 </footer>