{% extends '../base.html' %}
{% load static %}

{% block content %}
<section class="bg-white">
    <div class="container">
       <div class="row py-3">
          <div class="col-12">
             <nav>
                <ol class="breadcrumb small mb-0">
                   <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-success">Home</a></li>
                   <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-success">Punjab</a></li>
                   <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-success">Green Park</a></li>
                   <li class="breadcrumb-item active" aria-current="page">Deal 4 Grocery</li>
                </ol>
             </nav>
          </div>
       </div>
    </div>
 </section>
 <main  class="sticky-top ">
    <section class="bg-success">
       <div class="container py-4">
          <div class="row justify-content-between align-items-center">
             <div class="col-md-6">
                <div class="d-flex align-items-center listing-detail-info gap-3">
                   <img src="{% static 'storeapp/assets/img/list8.jpg'%}" class="img-fluid rounded-3" alt="...">
                   <div class="listing-detail-info-body">
                      <h3 class="listing-detail-info-title fw-bold mb-1 text-white">Deal 4 Grocery</h3>
                      <p class="mb-3 text-white-50">Cafe, Beverages, Fast Food, Desserts, India</p>
                      <div class="d-flex align-items-center gap-4">
                         <div>
                            <div class="text-uppercase text-warning-light fw-bold fs-14"><i class="bi bi-star-fill"></i> 4.0</div>
                            <p class="text-white-50 small mb-0">1K+ Ratings</p>
                         </div>
                         <div>
                            <div class="text-uppercase text-white fw-bold fs-14">33 mins</div>
                            <p class="text-white-50 small mb-0">Delivery Time</p>
                         </div>
                         <div>
                            <div class="text-uppercase text-warning-light fw-bold fs-14">Open now</div>
                            <p class="text-white-50 small mb-0">Opening</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 d-none d-md-block">
                <div class="offer-box position-relative bg-white rounded-3 shadow-sm p-4">
                   <small class="offer-box-title fw-bold bg-warning text-white">OFFER</small>
                   <div class="d-flex align-items-center gap-3 mb-3">
                      <i class="bi bi-percent m-0 rounded-pill rounded-icon"></i>
                      <span>
                         <div class="text-uppercase text-success fw-bold">60% off</div>
                         <p class="text-muted small mb-0">Up to ₹120 | Use code MISSEDYOU</p>
                      </span>
                   </div>
                   <div class="d-flex align-items-center gap-3">
                      <i class="bi bi-gift m-0 rounded-pill rounded-icon"></i>
                      <span>
                         <div class="text-uppercase text-success fw-bold">Free Food</div>
                         <p class="text-muted small mb-0">Free Laccha Paratha on orders above Rs 349</p>
                      </span>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
 <!-- body -->
 <section class="border-bottom bg-light listing-detail-page">
    <div class="container">
       <div class="row">
          <div class="col-12 col-md-2">
             <div class="listing-detail-fixed-sidebar">
                <div class="nav flex-column listing-detail-tabs mt-3 pb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                   <button class="nav-link tab_search"  id="Recommended" type="button" role="tab"  aria-selected="true">Recommended</button>
                   <button class="nav-link tab_search" id="Vegetables" type="button" role="tab"  aria-selected="false">Vegetables</button>
                   <button class="nav-link tab_search" id="Fruits"  type="button" role="tab"  aria-selected="false">Fruits</button>
                  
                   </button>
                </div>
             </div>
          </div>
          <div class="col-12 col-md-6">
             <div class="border-start border-end position-relative bg-white">
                <form class="bg-white border-bottom p-2">
                   <div class="input-group border-0 osahan-search-icon rounded">
                      <span class="input-group-text bg-white border-0"><i class="icofont-search"></i></span>
                      <input type="text" class="form-control bg-white border-0 ps-2" placeholder="Search in Products">
                   </div>
                </form>
                <div class="tab-content" id="v-pills-tabContent">
                   <!-- 1st tab -->
                   <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="bg-light border-bottom p-3">
                         <h5 class="fw-bold mb-0 text-dark search_title">Recommended</h5>
                      </div>
                      <h6 class="small text-success mb-0 p-3">37 ITEMS</h6>
                      <div class="product-list d-flex p-3 border-bottom">
                         <img src="{% static 'storeapp/assets/img/p11.jpg'%}" class="img-fluid" alt="...">
                         <div class="product-list-body px-3">
                            <p class="fw-bold mb-1">Coke & Lays Combo</p>
                            <p class="card-text small mb-0">Coca Cola Can (3x300Ml) + Lays Magic masala Chips(3x26 Gms)</p>
                            <p class="card-text text-muted mb-2">1 Pack</p>
                            <h6 class="fw-bold">&#8377;135</h6>
                         </div>
                         <div class="d-flex align-items-center justify-content-between rounded-pill border cart-quantity px-1 ms-auto mb-auto">
                            <div class="minus cart-quantity-btn"><i class="bi bi-dash text-success"></i></div>
                            <input class="form-control text-center border-0 py-0 box" type="text" placeholder="" aria-label="default input example" value="1">
                            <div class="plus cart-quantity-btn"><i class="bi bi-plus text-success"></i></div>
                         </div>
                      </div>
                      
                      <div class="product-list d-flex p-3 border-bottom">
                         <img src="{% static 'storeapp/assets/img/p8.jpg'%}" class="img-fluid" alt="...">
                         <div class="product-list-body px-3">
                            <p class="fw-bold mb-1">Rin detergent powder</p>
                            <p class="card-text small text-muted mb-2">1KG</p>
                            <h6 class="fw-bold">&#8377;65</h6>
                         </div>
                         <div class="ms-auto mb-auto">
                            <button type="button" class="btn btn-outline-success btn-sm rounded-pill"><span><i class="bi bi-plus-lg"></i></span>&nbsp;ADD</button>
                         </div>
                      </div>
                     

                   </div>
                   <!-- 2nd tab -->
                   
                  
               
                </div>
             </div>
          </div>

          <div class="col-12 col-md-4">
             <div class="listing-detail-fixed-sidebar mb-4">
                <div class="bg-white cart-box border rounded position-relative mt-4">
                   <div class="p-3 border-bottom">
                      <h5 class="mb-0 fw-bold">Your Cart</h5>
                      <p class="small mb-0"><span class="cart_count">0</span> items from <span class="text-success">Veggie Cart</span></p>
                   </div>
                   <div class="py-2" id="cart_items">
                      

                      

                   </div>
                </div>
                <div class="d-grid my-4">
                   <a href="cart.html" class="btn btn-success btn-lg py-3 px-4">
                      <div class="d-flex justify-content-between">
                         <div>Checkout</div>
                         <div class="fw-bold">&#8369; <span class="cart_total">0</span></div>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

{% endblock %}